eaf/
eaf_to_process/
search/media/
make_meta.py
corpus/
*.pyc
search/tmp/
convertors/search
convertors/test
problemesy
bag_tags.txt
bag_tags2.txt
glossy_khak.csv
convertors/bagged_tags.txt
make_categories.py
redo_speakers_meta.py
tgt_meta.py
*/__pycache__/
doitagain.txt
lists.txt
meta.csv
meta_speakers.json
corpus/
