{% if word_fields %}
	{% for field in word_fields %}
		{{ _('wordfield_' + field) | capitalize }}: <input type="text" class="search_input" name="{{ field }}1" id="{{ field }}1"><br>
	{% endfor %}
{% endif %}
{% if sentence_meta and sentence_meta|length > 0 %}
<hr class="separator">
	{% for field in sentence_meta %}
		{% if int_meta_fields and field in int_meta_fields %}
		{{ _('metafield_' + field) | capitalize }}: <input type="number" class="search_input_num" name="sent_meta_{{ field }}_FR1" id="sent_meta_{{ field }}1">&ndash;<input type="number" class="search_input_num" name="sent_meta_{{ field }}_TO1" id="sent_meta_{{ field }}1"><br>
		{% elif field == 'speaker' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="vpt1934f">vpt1934f</option>
		<option value="eds1930f">eds1930f</option>
		<option value="kam1926f">kam1926f</option>
		<option value="emk1967f">emk1967f</option>
		<option value="smm1950f">smm1950f</option>
		<option value="eak1977m">eak1977m</option>
		<option value="kas1964f">kas1964f</option>
		<option value="tsk1931f">tsk1931f</option>
		<option value="gsm1929f">gsm1929f</option>
		<option value="lmp1941f">lmp1941f</option>
		<option value="mdc1963f">mdc1963f</option>
		<option value="tna1930f">tna1930f</option>
		<option value="sjt1964f">sjt1964f</option>
		<option value="lat1978f">lat1978f</option>
		<option value="rva1973f">rva1973f</option>
		<option value="egs1982f">egs1982f</option>
		<option value="tgt1988">tgt1988</option>
		<option value="kau1916f">kau1916f</option>
		<option value="mvk1924f">mvk1924f</option>
		<option value="vrk1929f">vrk1929f</option>
		<option value="erk1927f">erk1927f</option>
		<option value="asc1933f">asc1933f</option>
		<option value="iec1946m">iec1946m</option>
		<option value="vtt1937f">vtt1937f</option>
		<option value="zgb1935f">zgb1935f</option>
		<option value="vxk1960m">vxk1960m</option>
		<option value="avd1959f">avd1959f</option>
		<option value="evs1979f">evs1979f</option>
		</select><br>
		{% elif field == 'speaker_name' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="Тодозакова">Варвара Терентьевна Тодозакова</option>
		<option value="Кидиекова">Эмилия Митрофановна Кидиекова</option>
		<option value="Толдова">Светлана Юрьевна Толдова</option>
		<option value="Медведева">Любовь Петровна Медведева</option>
		<option value="Ахпашева">Римма Владимировна Ахпашева</option>
		<option value="Сунчугашева">Елена Дмитриевна Сунчугашева</option>
		<option value="Султрекова">Эльвира Валерьевна Султрекова</option>
		<option value="Канзычакова">Вера Романовна Канзычакова</option>
		<option value="Ахпашева">Тамара Николаевна Ахпашева</option>
		<option value="Кулумаева">Евдокия Романовна Кулумаева</option>
		<option value="Канзычаков">Валерий Канзычаков</option>
		<option value="Тартачакова">Людмила Анатольевна Тартачакова</option>
		<option value="Тазмина">Варвара Прокопьевна Тазмина</option>
		<option value="Майнагашева">Светлана Митрофановна Майнагашева</option>
		<option value="Узназакова">Кулинча Ариновна Узназакова</option>
		<option value="Боргоякова">Зинаида Григорьевна Боргоякова</option>
		<option value="Майнагашева">Ксения Архиповна Майнагашева</option>
		<option value="Сербигешева">Клавдия Артамоновна Сербигешева</option>
		<option value="Чертыкова">Мария Дмитриевна Чертыкова</option>
		<option value="Чебочакова">Анна Степановна Чебочакова</option>
		<option value="Майнагашева">Галина Самуиловна Майнагашева</option>
		<option value="Карамашева">Матрона Васильевна Карамашева</option>
		<option value="Кыржинаков">Евгений Александрович Кыржинаков</option>
		<option value="Кулемеева">Таисия Суровна Кулемеева</option>
		<option value="Сыргашева">Екатерина Георгиевна Сыргашева</option>
		<option value="Чебочаков">Иван Егорович Чебочаков</option>
		<option value="Толмашова">Татьяна Георгиевна Толмашова</option>
		<option value="Дыбо">Анна Владимировна Дыбо</option>
		</select><br>
		{% elif field == 'gender' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="m">{{ _('m') }}</option>
		<option value="f">{{ _('f') }}</option>
		</select><br>
		{% elif field == 'native language' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="хакасский">{{ _('хакасский') }}</option>
		<option value="русский">{{ _('русский') }}</option>
		</select><br>
		{% elif field == 'dialect' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="бельтырский">{{ _('бельтырский') }}</option>
		<option value="сагайский">{{ _('сагайский (аскизский говор)') }}</option>
		</select><br>
		{% elif field == 'place of residence at the time of recording' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="Московская">{{ _('Московская область') }}</option>
		<option value="Чиланы">{{ _('Чиланы (Таштыпский р-н)') }}</option>
		<option value="Абакан">{{ _('Абакан') }}</option>
		<option value="Казановка">{{ _('Казановка (Аскизский р-н)') }}</option>
		<option value="Moscow">{{ _('Москва') }}</option>
		<option value="Верх">{{ _('Верх-Аскиз (Аскизский р-н)') }}</option>
		<option value="Бутрахты">{{ _('Бутрахты (Таштыпский р-н)') }}</option>
		<option value="Карагай">{{ _('Карагай (Таштыпский р-н)') }}</option>
		</select><br>
		{% elif field == 'place of birth' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="Москва">{{ _('Москва') }}</option>
		<option value="Анчыл">{{ _('Анчыл Чол (Аскизский р-н)') }}</option>
		<option value="Бай">{{ _('Бай (Аскизский р-н)') }}</option>
		<option value="Чиланы">{{ _('Чиланы (Таштыпский р-н)') }}</option>
		<option value="Тульская">{{ _('Тульская область') }}</option>
		<option value="Сталино">{{ _('Сталино (Аскизский р-н)') }}</option>
		<option value="Казановка">{{ _('Казановка (Аскизский р-н)') }}</option>
		<option value="Чапаево">{{ _('Чапаево (Аскизский р-н)') }}</option>
		<option value="Верх">{{ _('Верх-Аскиз (Аскизский р-н)') }}</option>
		<option value="Тарбаган">{{ _('Тарбаган (Таштыпский р-н)') }}</option>
		<option value="Нижние">{{ _('Нижние Сиры (Таштыпский р-н)') }}</option>
		<option value="Бутрахты">{{ _('Бутрахты (Таштыпский р-н)') }}</option>
		<option value="Карагай">{{ _('Карагай (Таштыпский р-н)') }}</option>
		</select><br>
		{% elif field == 'education' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="педагогическое">{{ _('высшее (педагогическое)') }}</option>
		<option value="начальное">{{ _('начальное') }}</option>
		<option value="филологическое">{{ _('высшее (филологическое)') }}</option>
		<option value="филология">{{ _('неполное высшее (филология)') }}</option>
		<option value="д.ф.н.">{{ _('д.ф.н.') }}</option>
		<option value="среднее">{{ _('среднее') }}</option>
		<option value="лингвистика">{{ _('к.ф.н. (лингвистика)') }}</option>
		</select><br>
		{% elif field == 'what work (before retirement)' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="домохозяйка">{{ _('домохозяйка') }}</option>
		<option value="аспирант">{{ _('аспирант, учитель хакасского языка') }}</option>
		<option value="биологии">{{ _('учитель биологии и географии') }}</option>
		<option value="русского">{{ _('учитель хакасского и русского языка') }}</option>
		<option value="разнорабочая">{{ _('разнорабочая') }}</option>
		<option value="преподаватель">{{ _('преподаватель университета') }}</option>
		<option value="колхозница">{{ _('колхозница') }}</option>
		<option value="студент">{{ _('студент') }}</option>
		<option value="профессор">{{ _('профессор, зав.отделом') }}</option>
		<option value="исполнительница">{{ _('исполнительница традиционной музыки') }}</option>
		<option value="доярка">{{ _('доярка') }}</option>
		<option value="английского">{{ _('учитель английского языка') }}</option>
		</select><br>
		{% else %}
		{{ _('metafield_' + field) | capitalize }}: <input type="text" class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1"><br>
		{% endif %}
	{% endfor %}
{% endif %}
{{ _('Analyses: ') }}<select name="n_ana1" id="n_ana1" class="search_input">
<option value="any" selected>{{ _('any number of analyses') }}</option>
<option value="nonambiguous">{{ _('only with analysis') }}</option>
<option value="none">{{ _('only without analysis') }}</option>
</select><br>
{{ _('Position in sentence: ') }}<input type="number" name="sentence_index1" id="sentence_index1" value="" placeholder="1" class="search_input distance_input"><br>