<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ _('corpus_title') }}</title>


    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/resume.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/favicon.png">

  </head>

  <body id="page-top">

    <p style="padding-left:2.7rem" id="about">
    &nbsp;&nbsp;|
  <span class="locale" title="Russian"><a href="./set_locale_start/ru">RU</a></span>&nbsp;
    |&nbsp;
  <span class="locale" title="English"><a href="./set_locale_start/en">EN</a></span>&nbsp;
    |&nbsp;
    </p>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">{{ _('corpus_title') }}</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/emblem.png" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">{{ _('Главная') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#translit">{{ _('Транскрипция') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#instruction">{{ _('Как пользоваться корпусом') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="./search">{{ _('Поиск') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#consist">{{ _('Состав корпуса') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#authors">{{ _('Создатели') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacts">{{ _('Контакты') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#cite">{{ _('Как процитировать корпус') }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column">
        <div class="my-auto">
          <h2 class="mb-0">{{ _('Устный корпус диалектов') }}<br>
            <span class="text-primary">{{ _('хакасского языка') }}</span>
          </h2>
          <br>
          <br>
          <p class="lead" align="justify">{{ _('Устный корпус диалектов хакасского языка содержит расшифрованные и аннотированные записи текстов, синхронизированные со звуком. Тексты записаны в XXI веке от информантов 1916-1985 гг. рождения в рамках лингвистических экспедиций из Москвы в республику Хакасия. Все тексты пофразово переведены на русский язык. Тексты были автоматически отглоссированны, после чего с помощью программы ELAN была проведена ручная коррекция глоссирования и синхронизация транскрипции текста со звуком.') }}</p>
          <p class="lead" align="justify">{{ _('Данный корпус соотносится с проектом') }} «<a href="http://khakas.altaica.ru" target="_blank">{{ _('Электронный корпус хакасского языка') }}</a>». {{ _('На этом сайте можно более подробно ознакомиться с целями и принципами данного проекта.') }}</p>
          <br>
          <a class="btn btn-primary btn-xl js-scroll-trigger btn-main" href="./search">{{ _('К поиску') }}</a>
          <br>
          <br>
          

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="translit">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Транскрипция') }}</h3>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <p class="lead" align="justify">{{ _('Тексты записаны в кириллической транскрипции с помощью знаков хакасского алфавита, поскольку парсер ориентирован на работу с литературным хакасским языком. Фонетические особенности диалектов почти не отражаются в транскрипции, однако мы старались сохранить морфологические и морфонологические особенности.') }}</p>

              <h5 class="mb-2">{{ _('Морфонология') }}</h5>
              <p class="lead" align="justify">{{ _('В строке разбиения на морфемы основы представлены в фонологической записи (транскрипции), а аффиксы – в морфонологической. Каждый аффикс представлен в единой форме, объединяющей его алломорфы с регулярными чередованиями. Например, словоформа туралар ‘дома’  в строке разбиения на морфемы имеет вид тура‑ЛАр. Показатель множественного числа имеет алломорфы ‑лар, ‑лер, ‑нар, ‑нер, ‑тар, ‑тер, а в строке глоссирования этому соответствует одна морфема ‑ЛАр. Морфонемы без чередований записываются теми же символами, что и фонемы. ') }}</p>
              <p class="lead" align="justify">{{ _('Подробнее об этом см. в статье: А. В. Дыбо, Ф. С. Крылов, В. С. Мальцева, А. В. Шеймович. Сегментные правила в автоматическом парсере Корпуса хакасского языка. // Урало-алтайские исследования. № 1 (32), 2019. Стр. 48-69. https://iling-ran.ru/library/ural-altaic/ua2019_32.pdf') }}</p>   
              
              <h5 class="mb-2">{{ _('Морфонемы и фонемы') }}</h5>    

              <table>
                <tr>
                  <td><b>{{ _('Согласные морфонемы') }}</b></td><td><b>{{ _('Гласные морфонемы') }}</b></td>
                </tr>
                <tr>
                  <td>{{ _('П: б/п/м') }}</td><td>{{ _('А: е/а') }}</td>
                </tr>
                <tr>
                  <td>{{ _('К: ғ/г/х/к') }}</td><td>{{ _('Ы: i/ы') }}</td>
                </tr>
                <tr>
                  <td>{{ _('Г: ғ/г/х/к/Ø') }}</td><td>{{ _('О: о/ö') }}</td>
                </tr>
                <tr>
                  <td>{{ _('Т: т/д') }}</td><td align="center"></td>
                </tr>
                <tr>
                  <td>{{ _('Д: т/д/н') }}</td><td align="center"></td>
                </tr>
                <tr>
                  <td>{{ _('С: с/з') }}</td><td align="center"></td>
                </tr>
                <tr>
                  <td>{{ _('Л: л/н/т') }}</td><td align="center"></td>
                </tr>
                <tr>
                  <td>{{ _('L: л/н') }}</td><td align="center"></td>
                </tr>
                <tr>
                  <td>{{ _('Н: н/т') }}</td><td align="center"></td>
                </tr>
                <tr>
                  <td>{{ _('Ч: ч/ҷ') }}</td><td align="center"></td>
                </tr>
              </table>

            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="instruction">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Как пользоваться корпусом') }}</h3>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
            <p class="lead">{{ _('Этот Корпус относится к группе корпусов, использующих поисковую платформу') }} <a href="https://bitbucket.org/tsakorpus/tsakonian_corpus_platform/overview" target="_blank">tsakorpus</a>{{ _('. Инструкция с описанием общих технических возможностей поиска в корпусах этого типа содержится в разделе «Справка» (кнопка с вопросительным знаком в правом верхнем углу страницы поиска). Здесь же описываются правила, специфические для данного корпуса.') }}</p>   

            <h5 class="mb-2">{{ _('Поиск точных форм («Слово»)') }}</h5>
            <p class="lead">{{ _('В этом поле можно ввести словоформы, вхождения которых вы хотите найти.') }}</p>   
            <p class="lead">{{ _('Например: ибде ‘в доме’, килген ‘(он) пришёл’.') }}</p>   

            <h5 class="mb-2">{{ _('Поиск лексем («Лемма»)') }}</h5>
            <p class="lead">{{ _('Это поле следует использовать для поиска всех форм одного слова (лексемы, леммы). ') }}</p>
            <p class="lead">{{ _('Например, если в это поле вбить слово иб ‘дом’, то в поисковой выдаче окажутся все вхождения этого существительного во всех его формах, например, иб ‘дом’, ибні [дом-Acc] ‘(вижу) дом’, иб-і-нде [дом-3pos-Acc] ‘в его доме’ и т.д.') }}</p>
            <p class="lead">{{ _('Леммы следует вводить в поле поиска в начальной форме, т.е. в той же форме, которая используется в хакасских словарях. Для имен (существительных, прилагательных, наречий, местоимений и числительных) начальная форма совпадает с основой (например, иб ‘дом’, сіліг ‘красивый’, ам ‘сейчас’, син ‘ты’, ікі ‘два’). Для глаголов используется форма инфинитива на -Ар-ГА, например, тоғынарға ‘работать’, килерге ‘приходить’. ') }}</p>
            <p class="lead">{{ _('Для форм местоимений ол ‘тот’ и пу ‘этот’, в т.ч. в локативных падежах, используются леммы ол и пу, хотя в словаре формы косвенных падежей записаны в виде отдельных лексем. Исключение составляют субстантивированные формы с показателем 3л. посессива ан(ы)зы, мын(ы)зы, пунызы, которые мы считаем отдельными лексемами. Все формы личных местоимений одного лица и числа также относятся к одной лемме: мин ‘я’, син ‘ты’, олар ‘они’ и пр.') }}</p>

            <h5 class="mb-2">{{ _('Грамматика') }}</h5>
            <p class="lead">{{ _('Поле «Грамматика» позволяет осуществлять поиск по частям речи и грамматическим категориям. Для того, чтобы воспользоваться этим поиском, необходимо нажать на кнопку в правой части поля «Грамматика» — появится окно-подсказка, в котором можно выбрать необходимые грамматические пометы. Чтобы выбрать помету, нужно щелкнуть по ней мышкой, она станет выделенной. Чтобы отменить выбор пометы, нужно также щелкнуть по выделенной помете мышкой, и выделение уберется.') }}</p>
            <p class="lead">{{ _('Система частей речи, используемая в Корпусе, расшифровывается в следующей таблице.') }}</p>

            <h5 class="mb-2">{{ _('Части речи') }}</h5>
            <p class="lead">{{ _('v – глагол (в т.ч. причастие и деепричастие), полная парадигма словоизменения') }}</p>
            <p class="lead">{{ _('n – имя (существительное, прилагательное, местоимение, числительное, послелог), не изменяется по временам, видам и наклонениям. ') }}</p>
            <p class="lead">{{ _('Часть имен не изменяется по падежам, но спрягается (напр. осхас ‘похожий’). Есть намерение выделить такие лексемы в отдельную часть речи после проведения корпусного исследования.') }}</p>
            <p class="lead">{{ _('i1 – неизменяемое, к которому могут крепиться эндоклитики (в частности, частица -ох/-ӧх/-ӧк, поглощающая последнюю гласную основы). Напр., піди ‘так’. В эту категорию попадают большинство наречий, в т.ч. застывшие формы деепричастий.') }}</p>
            <p class="lead">{{ _('i – неизменямое, к которому эндоклитики не присоединяются (частица, междометие, союз)') }}</p>

            <h5 class="mb-2">{{ _('Показатели') }}</h5>
            <p class="lead">{{ _('Как в разделе «Грамматика», так и в разделе «Глоссы», можно искать только формы с выраженными (ненулевыми) показателями. Исключение составляет глагольная форма повелительного наклонения (единственного числа), представляющая собой чистую основу глагола. Можно найти ее, выбрав в разделе «Грамматика» значения imp и 2sg.)') }}</p>
            <p class="lead">{{ _('Показатели с цифрой 1 или 2 на  конце (за исключением dur1) занимают более близкую к корню позицию, чем те же показатели без цифр, и выполняют скорее словообразовательную, а не словоизменительную функцию.') }}</p>

            <h6 class="mb-2">{{ _('Число') }}</h6>

              <table>
                <tr>
                  <td>Pl</td><td>{{ _('ЛАр') }}</td><td>{{ _('множественное число непредиката (в т.ч. причастия в нефинитной  позиции)') }}</td><td>{{ _('иблер ‘дома’, парғаннарына ‘тем (из них), кто ушел’') }}</td>
                </tr>
                <tr>
                  <td>PredPl</td><td>{{ _('ЛАр') }}</td><td>{{ _('множественное число предиката') }}</td><td>{{ _('парғаннар ‘(они) ушли’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Внутренние падежи') }}</h6>

              <table style="width: 85%;">
                <tr>
                  <td>Gen1</td><td>{{ _('НЫң, ДЫң') }}</td><td>{{ _('генитив') }}</td><td>{{ _('пістіңнер ‘наши’ (субстантивированная форма)') }}</td>
                </tr>
                <tr>
                  <td>Loc1</td><td>{{ _('ТА') }}</td><td>{{ _('локатив') }}</td><td>{{ _('аалдағылар ‘те, кто (живет) в селе’') }}</td>
                </tr>
              </table>
              <br>

            <p class="lead">{{ _('All1 и Abl1 встречаются очень редко, обычно в застывших формах в сочетании с другими падежами.') }}</p>
            <p class="lead">{{ _('Сочетание аффиксов Gen1 и 3pos представляет собой на синхронном уровне единый кумулятивный показатель -ни (диалектный вариант -Ди), поэтому мы разделяем их не дефисом, а точкой. Пример: сілерни / сілерди ‘то, что принадлежит вам’.') }}</p>

            <h6 class="mb-2">{{ _('Падежи') }}</h6>

            <p class="lead">{{ _('У всех падежей есть алломорфы, используемые в сочетании с показателями принадлежности единственного числа.') }}</p>
            <p class="lead">{{ _('У многих падежей есть диалектные варианты. Показатели исходного и творительного падежа в некоторых говорах совпадают.') }}</p>

              <table>
                <tr>
                  <td>Acc</td><td>{{ _('НЫ, ДЫ, н') }}</td><td>{{ _('аккузатив (винительный)') }}</td><td>{{ _('суғны / суғды ‘реку’, суғын ‘его реку’') }}</td>
                </tr>
                <tr>
                  <td>Gen</td><td>{{ _('НЫң, ДЫң, нЫң') }}</td><td>{{ _('генитив (родительный)') }}</td><td>{{ _('азахтың ‘ног’, азағының ‘его ног’') }}</td>
                </tr>
                <tr>
                  <td>Dat</td><td>{{ _('ГА, (н)А') }}</td><td>{{ _('датив (дательный)') }}</td><td>{{ _('ирге ‘мужчине’, иріме ‘моему мужу’') }}</td>
                </tr>
                <tr>
                  <td>Loc</td><td>{{ _('ТА, (н)ТА') }}</td><td>{{ _('локатив (местный)') }}</td><td>{{ _('ибде ‘в доме’, ибінде ‘в его доме’') }}</td>
                </tr>
                <tr>
                  <td>All</td><td>{{ _('САр, СА, САрЫ, нСАр, (н)СА, (н)САрЫ') }}</td><td>{{ _('аллатив (направительный)') }}</td><td>{{ _('ибзер/ ибзері / ибзе ‘к дому’, ибінзер /ибінзері / ибінзе ‘к его дому’') }}</td>
                </tr>
                <tr>
                  <td>Abl</td><td>{{ _('ДАң, нАң') }}</td><td>{{ _('аблатив (исходный)') }}</td><td>{{ _('аалнаң / аалдаң ‘из деревни’, аалынаң ‘из его деревни’') }}</td>
                </tr>
                <tr>
                  <td>Instr</td><td>{{ _('ДАң, НАң, нАң, БАң, (н)БАң, мАң, (н)мАң') }}</td><td>{{ _('инструменталис (творительный)') }}</td><td>{{ _('малтынаң / малтыдаң / малтыбаң ‘топором’, абамнаң / абаммаң ‘с моим отцом’') }}</td>
                </tr>
                <tr>
                  <td>Prol</td><td>{{ _('ЧА, (н)ЧА') }}</td><td>{{ _('пролатив (экватив)') }}</td><td>{{ _('чолӌа ‘по дороге’, соонӌа ‘следом за ним’') }}</td>
                </tr>
                <tr>
                  <td>Delib</td><td>{{ _('нАңАр, ДАңАр(Ы)') }}</td><td>{{ _('делибератив (причинный)') }}</td><td>{{ _('аннаңар ‘поэтому’, кибірлердеңері ‘об обычаях’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Показатели посессивности') }}</h6>

              <table>
                <tr>
                  <td>1pos.sg</td><td>{{ _('(Ы)м') }}</td><td>{{ _('посессор 1 лица единственного числа (‘я’)') }}</td><td>{{ _('хызым ‘моя дочь’') }}</td>
                </tr>
                <tr>
                  <td>1pos.pl</td><td>{{ _('(Ы)ПЫс') }}</td><td>{{ _('посессор 1 лица множественного числа (‘мы’)') }}</td><td>{{ _('хызыбыс ‘наша дочь’') }}</td>
                </tr>
                <tr>
                  <td>2pos.sg</td><td>{{ _('(Ы)ң') }}</td><td>{{ _('посессор 2 лица единственного числа (‘ты’)') }}</td><td>{{ _('посессор 2 лица единственного числа (‘ты’)') }}</td>
                </tr>
                <tr>
                  <td>2pos.pl</td><td>{{ _('(Ы)ңар') }}</td><td>{{ _('посессор 2 лица множественного числа (‘вы’)') }}</td><td>{{ _('іӌеңер ‘ваша мать’') }}</td>
                </tr>
                <tr>
                  <td>3pos</td><td>{{ _('(з)Ы') }}</td><td>{{ _('посессор 3 лица (‘он’, ‘она’, ‘оно’, ‘они’)') }}</td><td>{{ _('аал пазы ‘начало деревни’') }}</td>
                </tr>
                <tr>
                  <td>3pos1</td><td>{{ _('(з)Ы') }}</td><td>{{ _('посессор 3 лица во внутренней позиции') }}</td><td>{{ _('аал пазындағылар ‘те, кто (живет) в начале деревни’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Вид') }}</h6>

              <table>
                <tr>
                  <td>Perf</td><td>{{ _('(Ы)бЫс') }}</td><td>{{ _('перфектив') }}</td><td>{{ _('парыбысхан ‘ушел’') }}</td>
                </tr>
                <tr>
                  <td>Perf0</td><td>{{ _('(Ы)с') }}</td><td>{{ _('перфектив в сочетании с частицей') }}</td><td>{{ _('чоохтаныпласчам ‘заговариваю то и дело’') }}</td>
                </tr>
                <tr>
                  <td>Prosp.dial</td><td>{{ _('АК, иК') }}</td><td>{{ _('проспектив') }}</td><td>{{ _('парахча ‘собирается уходить’') }}</td>
                </tr>
                <tr>
                  <td>Dur</td><td>{{ _('чАт') }}</td><td>{{ _('дуратив') }}</td><td>{{ _('полчатсын ‘пусть он будет’') }}</td>
                </tr>
                <tr>
                  <td>Dur1</td><td>{{ _('А(р), и(р), ит') }}</td><td>{{ _('дуратив / настоящее время для глаголов парарға ‘идти’, килерге ‘приходить’') }}</td><td>{{ _('кили ‘идет сюда (сейчас)’') }}</td>
                </tr>
                <tr>
                  <td>Iter</td><td>{{ _('АдЫр, идЫр') }}</td><td>{{ _('итератив / настоящее время') }}</td><td>{{ _('тідирлер ‘поговаривают’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Время/наклонение') }}</h6>

              <table>
                <tr>
                  <td>RPast</td><td>{{ _('ТЫ') }}</td><td>{{ _('недавно прошедшее время') }}</td><td>{{ _('килді ‘пришел (недавно)’') }}</td>
                </tr>
                <tr>
                  <td>Pres</td><td>{{ _('чА') }}</td><td>{{ _('настоящее время') }}</td><td>{{ _('узупча ‘спит’') }}</td>
                </tr>
                <tr>
                  <td>Indir</td><td>{{ _('ТЫр') }}</td><td>{{ _('эвиденциалис (заглазное действие)') }}</td><td>{{ _('партыр ‘он шел (говорят)’') }}</td>
                </tr>
                <tr>
                  <td>Evid</td><td>{{ _('осхас') }}</td><td>{{ _('заглазное действие (аналитическая форма)') }}</td><td>{{ _('тіпчен осхас ‘говорит (при пересказе слов того, кого говорящий не слышал)’') }}</td>
                </tr>
                <tr>
                  <td>Affirm</td><td>{{ _('ЧЫК') }}</td><td>{{ _('аффирматив, сослагательное наклонение и др.значения') }}</td><td>{{ _('парарӌых ‘пошёл бы’') }}</td>
                </tr>
                <tr>
                  <td>Imp</td><td></td><td>{{ _('императив; имеет собственную парадигму личных окончаний') }}</td><td>{{ _('ат ‘стреляй’, парим ‘пусть я пойду’') }}</td>
                </tr>
                <tr>
                  <td>Cond</td><td>{{ _('СА') }}</td><td>{{ _('условное наклонение') }}</td><td>{{ _('чатса ‘если лежит’') }}</td>
                </tr>
                <tr>
                  <td>Opt</td><td>{{ _('ГАй') }}</td><td>{{ _('желательное наклонение') }}</td><td>{{ _('халғай ‘пусть останутся’') }}</td>
                </tr>
                <tr>
                  <td>Simul</td><td>{{ _('(А)АчЫК') }}</td><td>{{ _('симулятив, превращает глагол в имя') }}</td><td>{{ _('талаачых ‘притвояющийся теряющим сознание’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Причастия') }}</h6>

            <p class="lead">{{ _('Мы не проводим разграничения между причастной и финитной формой с одинаковыми показателями.') }}</p>

              <table>
                <tr>
                  <td>Past</td><td>{{ _('ГАн') }}</td><td>{{ _('прошедшее время') }}</td><td>{{ _('одырған ‘сидел’') }}</td>
                </tr>
                <tr>
                  <td>PresPt</td><td>{{ _('чАн') }}</td><td>{{ _('причастие настоящего времени') }}</td><td>{{ _('хомай чуртапчан кізілер ‘плохо живущие люди’') }}</td>
                </tr>
                <tr>
                  <td>PresPt1</td><td>{{ _('ин') }}</td><td>{{ _('причастие настоящего времени для глаголов пар ‘идти’ и кил ‘прийти’') }}</td><td>{{ _('сӱр парин остар ‘гонят (как сейчас)’') }}</td>
                </tr>
                <tr>
                  <td>Fut</td><td>{{ _('А(р), и(р)') }}</td><td>{{ _('будущее время') }}</td><td>{{ _('килер ‘придёт’') }}</td>
                </tr>
                <tr>
                  <td>Neg.Fut</td><td>{{ _('ПАс') }}</td><td>{{ _('отрицательное будущее') }}</td><td>{{ _('килбес ‘не придёт’') }}</td>
                </tr>
                <tr>
                  <td>Hab</td><td>{{ _('ЧА(ң)') }}</td><td>{{ _('хабитуалис (обычное действие в прошедшем (финитное употребление) или настоящем (причастное употребление)) времени') }}</td><td>{{ _('тоғынӌаң ‘работал (обычно)’') }}</td>
                </tr>
                <tr>
                  <td>Assum</td><td>{{ _('ГАдАГ') }}</td><td>{{ _('ассумптив («похоже, что…»)') }}</td><td>{{ _('хайтпаадағ ‘не случится (скорее всего)’') }}</td>
                </tr>
                <tr>
                  <td>Cunc</td><td>{{ _('ГАлАК') }}</td><td>{{ _('кунктатив («еще не…»)') }}</td><td>{{ _('пысхалах ‘еще не созрел’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Деепричастие') }}</h6>

              <table>
                <tr>
                  <td>ConvP</td><td>{{ _('(Ы)п') }}</td><td>{{ _('деепричастие последовательного действия') }}</td><td>{{ _('алып алып, парыбысхан ‘купив, уехал’') }}</td>
                </tr>
                <tr>
                  <td>ConvA</td><td>{{ _('А, и') }}</td><td>{{ _('деепричастия одновременного действия') }}</td><td>{{ _('чара парарға ‘отделяясь, уходить’') }}</td>
                </tr>
                <tr>
                  <td>Neg.Conv</td><td>{{ _('Пи(н), ПААн') }}</td><td>{{ _('отрицательное деепричастие') }}</td><td>{{ _('хурғатпин тартырарға ‘не высушивая молоть’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Личные окончания') }}</h6>

              <table>
                <tr>
                  <td>1sg</td><td>{{ _('(Ы)м, СЫм, ПЫн, им') }}</td><td>{{ _('1 лицо единственного числа') }}</td><td>{{ _('парам ‘я пойду’') }}</td>
                </tr>
                <tr>
                  <td>1pl</td><td>{{ _('ПЫс, иБЫс') }}</td><td>{{ _('1 лицо множественного числа') }}</td><td>{{ _('парарбыс ‘мы пойдём’') }}</td>
                </tr>
                <tr>
                  <td>2sg</td><td>{{ _('(Ы)ң, СЫң') }}</td><td>{{ _('2 лицо единственного числа') }}</td><td>{{ _('парғаң ‘ты пошёл’') }}</td>
                </tr>
                <tr>
                  <td>2pl</td><td>{{ _('ңар, САр, (Ы)ңАр') }}</td><td>{{ _('2 лицо множественного числа') }}</td><td>{{ _('парғазар ‘вы пошли’') }}</td>
                </tr>
                <tr>
                  <td>3</td><td>{{ _('Ø, СЫн') }}</td><td>{{ _('3 лицо (маркированная форма только в императиве, нуль невозможно отличить автоматически от отсутствия категории в словоформе)') }}</td><td>{{ _('ползын ‘пусть (он) будет’') }}</td>
                </tr>
                <tr>
                  <td>1.incl</td><td>{{ _('Аң') }}</td><td>{{ _('императив инклюзивный единственного числа («я и ты»)') }}</td><td>{{ _('параң ‘пойдём!’') }}</td>
                </tr>
                <tr>
                  <td>1pl.incl</td><td>{{ _('АңАр, АлАр') }}</td><td>{{ _('императив инклюзивный множественного числа («я и вы»)') }}</td><td>{{ _('параңар / паралар ‘пойдёмте’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Отрицание') }}</h6>

              <table style="width: 85%;">
                <tr>
                  <td>Neg</td><td>{{ _('ПА') }}</td><td>{{ _('отрицание') }}</td><td>{{ _('парба ‘не уходи’') }}</td>
                </tr>
                </table>
              <br>

            <h6 class="mb-2">{{ _('Прочее') }}</h6>

              <table>
                <tr>
                  <td>Distr</td><td>{{ _('(К)лА') }}</td><td>{{ _('дистрибутив') }}</td><td>{{ _('тастағлаабыс ‘мы бросали (много чего)’') }}</td>
                </tr>
                <tr>
                  <td>NF</td><td>{{ _('Ø / (Ы)п') }}</td><td>{{ _('основообразующий показатель на основе деепричастия ConvP, присутствующий в ряде синтетических и аналитических форм') }}</td><td>{{ _('пар-Ø-ча ‘идет’, сана-п-ча ‘считает’') }}</td>
                </tr>
                <tr>
                  <td>Compl</td><td>{{ _('тіп') }}</td><td>{{ _('комлементайзер (аналитическая конструкция)') }}</td><td>{{ _('парғам чаблах одалирға тіп ‘я пошла (,чтобы) картошку копать’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Словообразование') }}</h6>

            <p class="lead">{{ _('Мы не отделяем словообразовательные показатели от основы дефисом (а отделяем точкой в строке глоссирования), поэтому их можно найти только поиском по разделу «Грамматика».') }}</p>
            
            <h6 class="mb-2">{{ _('Именное словообразование') }}</h6>

              <table>
                <tr>
                  <td>Attr</td><td>{{ _('КЫ') }}</td><td>{{ _('аттрибутивизатор (именных локативных и временных форм)') }}</td><td>{{ _('аалдағы ‘находящийся в деревне’, пурунғы ‘прежний’') }}</td>
                </tr>
                <tr>
                  <td>Adv</td><td>{{ _('Ли') }}</td><td>{{ _('адъективизатор') }}</td><td>{{ _('полосали ‘полосами’') }}</td>
                </tr>
                <tr>
                  <td>Comit</td><td>{{ _('ЛЫГ') }}</td><td>{{ _('комитатив («вместе с…», «имея…»)') }}</td><td>{{ _('тадылығ ‘вкусный’, аттығ ‘конный, на коне’') }}</td>
                </tr>
                <tr>
                  <td>Dimin</td><td>{{ _('(Ы)ӌАК') }}</td><td>{{ _('диминутив') }}</td><td>{{ _('хызыӌах ‘девочка’') }}</td>
                </tr>
              </table>
              <br>

              <h6 class="mb-2">{{ _('Словообразование числительных') }}</h6>

              <table style="width: 85%;">
                <tr>
                  <td>Coll</td><td>{{ _('ОлАң, АлАң') }}</td><td>{{ _('собирательное числительное') }}</td><td>{{ _('ікӧлең / ікелең ‘вдвоём’') }}</td>
                </tr>
                <tr>
                  <td>Distr</td><td>{{ _('Ар') }}</td><td>{{ _('разделительное числительное') }}</td><td>{{ _('пизер ‘по пять’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Словообразование глагола (залоги)') }}</h6>

              <table style="width: 85%;">
                <tr>
                  <td>Caus</td><td>{{ _('т, тЫр') }}</td><td>{{ _('каузатив (также используется как пассив)') }}</td><td>{{ _('итірбе ‘не делай (с помощью других)’') }}</td>
                </tr>
                <tr>
                  <td>Pass</td><td>{{ _('(Ы)л') }}</td><td>{{ _('пассив') }}</td><td>{{ _('салылған ‘положенный (куда-то)’') }}</td>
                </tr>
                <tr>
                  <td>Refl</td><td>{{ _('(Ы)н') }}</td><td>{{ _('рефлексив') }}</td><td>{{ _('чоохтанча ‘говорит’') }}</td>
                </tr>
                <tr>
                  <td>Rec</td><td>{{ _('(Ы)с') }}</td><td>{{ _('реципрок') }}</td><td>{{ _('ылғазып ‘плача вместе’') }}</td>
                </tr>
              </table>
              <br>

            <h6 class="mb-2">{{ _('Частицы') }}</h6>

            <p class="lead">{{ _('Большинство частиц-эндоклитик записываются в хакасской орфографии как отдельные варианты, хотя у многих из них есть регулярные фонетические чередования, а некоторые из них употребляются также в качестве энклитик.') }}</p>

              <table>
                <tr>
                  <td>Q</td><td>{{ _('па, пе, ма, ме, ба, бе') }}</td><td>{{ _('частица общего вопроса') }}</td><td>{{ _('парған ма? ‘пришел?’') }}</td>
                </tr>
                <tr>
                  <td>qpart</td><td>{{ _('чи') }}</td><td>{{ _('вопросительное слово') }}</td><td>{{ _('а тігілер чи? ‘а те что?’') }}</td>
                </tr>
                <tr>
                  <td>Foc</td><td>{{ _('ТЫр') }}</td><td>{{ _('фокусная частица') }}</td><td>{{ _('адың кемдір? ‘как твое имя?’') }}</td>
                </tr>
                <tr>
                  <td>Magn</td><td>{{ _('редупликация первого слога + п') }}</td><td>{{ _('большая степень признака') }}</td><td>{{ _('тап-тадылығ ‘очень вкусный’') }}</td>
                </tr>
                <tr>
                  <td>Emph</td><td>{{ _('за, зе, нооза, нізе и др.') }}</td><td>{{ _('эмфатическая частица') }}</td><td>{{ _('ылғапча нізе ‘плачет ведь’') }}</td>
                </tr>
                <tr>
                  <td>Confpart</td><td>{{ _('ізе') }}</td><td>{{ _('частица подтверждения') }}</td><td>{{ _('ізе тіпче ‘«да», говорит’') }}</td>
                </tr>
                <tr>
                  <td>Indef</td><td>{{ _('ТА, тА') }}</td><td>{{ _('частица, образующая неопределенные местоимения') }}</td><td>{{ _('хайдағ-да / хайдағ-та ‘какой-то’') }}</td>
                </tr>
                <tr>
                  <td>Ass</td><td>{{ _('ОК') }}</td><td>{{ _('ассоциатив') }}</td><td>{{ _('парохтар ‘тоже имеются’') }}</td>
                </tr>
                <tr>
                  <td>Cont</td><td>{{ _('LA') }}</td><td>{{ _('континуатив') }}</td><td>{{ _('хырарлача ‘так и краснеет’') }}</td>
                </tr>
                <tr>
                  <td>Add</td><td>{{ _('ТАА') }}</td><td>{{ _('аддитивная частица') }}</td><td>{{ _('мин дее ‘даже я’') }}</td>
                </tr>
                <tr>
                  <td>Prec</td><td>{{ _('ТАК') }}</td><td>{{ _('прекативная частица (в некоторых диалектах – вежливая просьба)') }}</td><td>{{ _('пирдек ‘дай-ка; дай, пожалуйста’') }}</td>
                </tr>
              </table>
              <br>

            <h5 class="mb-2">{{ _('Глоссы') }}</h5>
            <p class="lead">{{ _('Поиск по глоссам позволяет создавать запросы, касающиеся морфемной структуры словоформ. В целом этот способ поиска открывает примерно те же возможности, что и поиск по грамматике. В частности, во всплывающем окне, вызываемом кнопкой рядом с полем «глоссы», приводится почти тот же список показателей, что и при поиске по грамматике.') }}</p>
            <p class="lead">{{ _('Общие принципы работы поиска по глоссам и основные отличия такого поиска от поиска по грамматике приводятся в разделе «Справка» (кнопка с вопросительным знаком в правом верхнем углу страницы поиска). Здесь дополнительно перечисляются особенности поиска по глоссам, специфические для данного корпуса.') }}</p>
            <p class="lead">{{ _('Все диалектные показатели помечены пометой .dial. Это касается как вариантов морфем (Acc.dial), так и показателей, отсутствующих в литературном языке (Prosp.dial).') }}</p>
            <p class="lead">{{ _('При поиске по глоссам не находятся такие словоформы, при глоссировании которых релевантные части словоформ не членятся на морфемы. Например, словоформа дательного падежа местоимения син ‘ты’ выглядит как сегее / сағаа / сее, не членится на морфемы и глоссируется целиком как “ты.Dat”. Эта словоформа попадает в выдачу по грамматическому запросу «dat», но при поиске по глоссам она не попадает в выдачу по запросу «STEM-DAT». ') }}</p>
            <p class="lead">{{ _('При записи формул строения словоформ можно воспользоваться такими элементами, как CASE, CASE1, POSS, PRTCP, CONV, PERSON. Каждый из них соответствует не конкретной морфеме, а группе морфем. CASE — любой показатель падежа, CASE1 — любой показатель падежа во внутренней позиции, POSS — любой притяжательный показатель, PRTCP — любой показатель причастия, CONV — любой показатель деепричастия, PERSON — любой личный показатель. ') }}</p>

            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="consist">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Состав корпуса') }}</h3>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">

            <p class="lead">{{ _('На данный момент в корпусе представлены:') }}</p>
            <p class="lead">{{ _('- 23 текста на аскизском говоре сагайского диалекта, собранные в с. Казановка в 2001-2002 гг. в рамках экспедиции Российского государственного гуманитарного университета под руководством Нины Романовны Сумбатовой. Объем корпуса – 13 тыс. слов, длительность записи 2 ч. 18 мин.') }}</p>
            <p class="lead">{{ _('- 27 текстов на бельтырском диалекте, собранные в 2011 г. в сс. Бутрахты, Чиланы, Карагай Э.В. Султрековой (Кыржинаковой) и А.В. Дыбо. Объем корпуса 45 тыс. слов, длительность 9 ч. 22 мин.') }}</p>
            <p class="lead">{{ _('Корпус будет пополняться текстами на других диалектах хакасского языка (качинском, кызыльском, шорском).') }}</p>

            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="authors">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Создатели') }}</h3>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">

            <p class="lead">{{ _('Тексты были подготовлены к публикации в виде корпуса в 2017 г. Исполнитель проекта – Вера Сергеевна Мальцева.') }}</p>

            <p class="lead">{{ _('Проект Устного корпуса диалектов хакасского языка поддерживается') }} <a href='https://ilcl.hse.ru' target="_blank">{{ _('Международной лабораторией языковой конвергенции') }}</a> <a href='https://hse.ru' target="_blank">{{ _('Высшей Школы Экономики') }}</a>{{ _('. Корпус создан в рамках Программы фундаментальных исследований Национального исследовательского университета «Высшая школа экономики» (НИУ ВШЭ) и с использованием средств субсидии в рамках государственной поддержки ведущих университетов Российской Федерации «5-100».') }}</p>

            <p class="lead">{{ _('Этот проект является частью более общего проекта по описанию хакасского языка') }} <a href='http://khakas.altaica.ru' target="_blank">{{ _('http://khakas.altaica.ru') }}</a>. {{ _('В нем принимают участие:') }}</p>
              <p class="lead">{{ _('Анна Владимировна Дыбо – руководство проектом, создание автоматического парсера (содержательная часть)') }}<br>
              <a>{{ _('Эльвира Валерьевна Султрекова (Кыржинакова) – расшифровка и перевод большинства текстов (тексты из дер. Казановка 2001-2002 гг. в основном расшифрованы и переведены участниками экспедиций РГГУ при помощи жителей деревни)') }}</a><br>
              <a>{{ _('Александра Валерьевна Шеймович – словарь (создание электронного словаря хакасского языка в системе Starling на основе Хакасского-русского словаря (Новосибирск, 2006, ок. 220 тыс. слов)') }}</a><br>
              <a>{{ _('Филипп Сергеевич Крылов – создание автоматического парсера (техническая часть) ') }}</a><br>
              <a>{{ _('Вера Сергеевна Мальцева – создание автоматического парсера (содержательная часть), обработка текстов в программе ELAN (разметка звука, коррекция глоссировки после автоматического парсирования)') }}</a><br>
              <a>{{ _('Елена Валерьевна Тенькова – написание и поддержка макроса для записи результатов автоматического парсирования текстов в программу ELAN') }}</a></p>

            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contacts">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Контакты') }}</h3>
          <p class="lead">{{ _('По содержательным вопросам:') }}<br>
          {{ _('Вера Сергеевна Мальцева') }}: malt.wh@gmail.com<br>

          <p class="lead">{{ _('По техническим вопросам:') }}<br>
          <a href="https://www.hse.ru/org/persons/160997992" target="_blank">{{ _('Елена Олеговна Сокур') }}</a>: elena.o.sokur@gmail.com</p>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="cite">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Как процитировать корпус') }}</h3>
          <p class="lead">{{ _('Если Вы используете данные Корпуса в своём исследовании, воспользуйтесь следующей ссылкой:') }}<br>
        <div class="panel panel-default">
          <div class="panel-body" align="justify">{{ _('Вера Мальцева, Елена Сокур. Устный корпус диалектов хакасского языка. М.: ИЯз РАН; М.: Международная лаборатория языковой конвергенции, НИУ ВШЭ. (Доступно онлайн по адресу: https://linghub.ru/oral_khakas_corpus/, дата обращения') }} <c id="dateFolder"></c>.)</div>
            <script language="JavaScript">
            temp_date = new Date();
            day = temp_date.getDate();
            month = temp_date.getMonth() + 1;
            year = temp_date.getFullYear();
            if (day < 10) {
            day = "0" + day;
            }
            if (month <10) {
            month = "0" + month;
            }
            document.getElementById('dateFolder').innerHTML = day + "." + month + "." + year;
            </script>
          </div>
        </div>
      </section>

      <hr class="m-0">

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/resume.min.js"></script>

  </body>

</html>
